/* Importando as fontes */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:wght@400;600&family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilos gerais */
body {
    background-color: #A6DCEF;
    text-align: center;
    color: #EDEFF2;
    overflow-x: hidden;
}

nav {
    background: #1D2A44;
    /* Azul Noturno */
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    height: 50px; /* altura controlada pela nav */
    overflow: hidden; /* impede que a imagem \"estoure\" */
}

.logo-img {
    height: 70px; /* logo maior */
    width: auto;
    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #EDEFF2;
    /* Branco Neve */
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

nav ul li a:hover {
    color: #E3B23C;
    /* Amarelo Dourado */
}

/* Estilos para a seção de projetos */

.informacoes {
    padding: 50px 20px;
    max-width: 1100px;
    margin: 50px auto;
    background: rgba(29, 42, 68, 0.95);
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    color: #EDEFF2;
}

.foto-perfil {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #E3B23C; /* Amarelo Dourado */
    margin: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.foto-perfil:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.informacoes h1, .informacoes h2 {
    color: #E3B23C; /* Amarelo Dourado */
}

.informacoes p, .informacoes ul {
    color: #EDEFF2;
    font-size: 16px;
    line-height: 1.6;
    text-align: left;
}

.informacoes ul {
    list-style-type: none;
    padding: 0;
}

.informacoes ul li {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.informacoes a {
    color: #E3B23C;
    text-decoration: none;
    font-weight: bold;
}

.informacoes a:hover {
    text-decoration: underline;
}

.lista-conhecimentos li {
    background: rgba(255, 255, 255, 0.05);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

footer {
    background: #1D2A44;
    color: #EDEFF2;
    padding: 15px;
    width: 100%;
    margin-top: 30px;
}