/* Importando as fontes */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:wght@400;600&family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #A6DCEF; /* Gelo Profundo */
    text-align: center;
    color: #EDEFF2; /* Branco Neve */
    overflow: hidden;
}

nav {
    background: #1D2A44; /* Azul Noturno */
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    height: 50px; /* altura controlada pela nav */
    overflow: hidden; /* impede que a imagem \"estoure\" */
}

.logo-img {
    height: 70px; /* logo maior */
    width: auto;
    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #EDEFF2; /* Branco Neve */
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

nav ul li a:hover {
    color: #E3B23C; /* Amarelo Dourado */
}

.home-content {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/BG_Home.webp') no-repeat center center/cover;
    z-index: -1;
}

.profile-pic {
    width: 150px;
    border-radius: 50%;
    border: 3px solid #B0C5CE; /* Prata Gélida */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}

.sobre-mim {
    background: rgba(29, 42, 68, 0.8); /* Azul Noturno com transparência */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    color: #EDEFF2; /* Branco Neve */
    font-family: 'Mont', serif;
}

button {
    background-color: #3A8FB7; /* Azul Glacial */
    color: #EDEFF2; /* Branco Neve */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
    font-weight: bold;
}

button:hover {
    background-color: #E3B23C; /* Amarelo Dourado */
}

footer {
    background: #1D2A44; /* Azul Noturno */
    color: #EDEFF2; /* Branco Neve */
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Efeito de neve */
.snowflake {
    position: fixed;
    top: -10px;
    left: 50%;
    font-size: 10px;
    color: #EDEFF2;
    animation: snowfall linear infinite;
    opacity: 0.8;
}

@keyframes snowfall {
    0% {
        transform: translateY(0) translateX(0);
    }
    100% {
        transform: translateY(100vh) translateX(-10px);
    }
}
